@using CoreDemo.Controllers
@model List<Class1>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<table>
    <tr>
        <th>#</th>
        <th>Adı Soyadı</th>
    </tr>
     @foreach (var item in Model)
     {
         <tr>
             <td>@item.ID</td>
             <td>@item.Name</td>
         </tr>

     }
</table>
